body {
  font-family: sans-serif;
  background-color: gray;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  /* background-color: pink; */
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 18.75rem;
  color: pink;
}

img {
  height: 400px;
  width: 440px;
}

.user-image {
  height: 220px;
  width: 270px;
}

.title {
  color: pink;
  text-align: center;
}

.link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link-wrapper a {
  color: pink;
}

button {
  background-color: black;
  color: pink;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

h2,
p,
small,
html {
  color: pink;
}
